/* Import the font family from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:wght@700&display=swap");

body{
    background-color: #2E8BAE;
    font-family: Roboto, Helvetica, sans-serif;;
    font-size: 16px;
    color: white;
}
header, footer{
    background-color: #507C47;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 10px black;
}
.mainTitle{
    font-family:"Carter One", cursive, serif;
    text-shadow: -2px -2px 2px #0000DF, 2px -2px 2px #0000DF, -2px 2px 2px #0000DF, 2px 2px 2px #0000DF;
}
.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
}
picture img[data-src] {
    filter: blur(0.1rem);
}
picture img{
    filter: blur(0rem);
    transition: filter 0.7s;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFEE88;
    /* box-shadow: -2px -2px 2px #FFEE88, 2px -2px 2px #FFEE88, -2px 2px 2px #FFEE88, 2px 2px 2px #FFEE88; */
}
@media only screen and (min-width: 32.5em) {
    footer{
        display: flex;
        justify-content: center;
    }
}