/* Google Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:wght@500&display=swap');
/* Body Basic Styles */
body{
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #FFFEF7;
    color:  #0F0F0F;
}
/* Basic Elements Styles */
header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #507C47;
    color: #FFFEF7;
    box-shadow: 0 0 10px black;
    text-align: center;
}
/* Header Styles */
.headerContainer{
    padding: .5rem;
}

#logo img{
    margin-top: -2rem;
    width: 200px;
    border-radius: 200px;
}
.sitePlanTitle{
    font-family:"Concert One", cursive, serif;
    font-size: 2.3rem;
    color: #FFEE88;
    margin-top: -1.5rem; 
}
.authorTitle{
    font-size: .9rem;
    
}
nav{
    background-color: #007EA7;
    box-shadow: 0 0 5px black;
    padding: .3rem;
}
nav ul{
    /* What is the difference between list-style: and list-style-type:*/
    /* list-style: none; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* For what this property works? */
    /* overflow: hidden; */
}
nav li a{
    color: #FFFEF7;
    font-size: 1.4rem;
    font-family:"Concert One", cursive, serif;
    text-decoration: none;
    width: 100vw;
    display: block;
    padding: .3rem;
}
nav a:hover{
    background-color: #FFFEF7;
    color: #007EA7;
    box-shadow: 0 0 10px #FFFEF7;
    transition: 800ms;
}
/* Main Styles */
section{
    width: 90vw;
    margin: auto; 
}
.subtitles{
    font-family:"Concert One", cursive, serif;
    color: #007EA7;
}
.subtitleLogo{
    text-align: center;
}
p{
    text-align: justify;
}
img{
    display: block;
    width: 15rem;
    margin: auto;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    color: #FFFEF7;
    background-color: #68276E;

    /* color: #FFFEF7;
    background-color: #507C47; */
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color: #68276E;
    color: white;
    /* background-color: #507C47; */
  }
  .secondary {
    background-color: #FDCA40
    /* background-color: #007EA7; */
  }
  .accent1 {
    background-color: #D16100;
    /* background-color: #FFEE88; */
  }
  .accent2{
    background-color: #015E7B;
    color: white;
    /* background-color: #FFFEF7; */
  }
.example{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #007EA7;
}

